.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

img {
  max-height: 60px;
  max-width: 60px;
  width: auto;
  height: auto;
}

.LikedCats, .DislikedCats, {
  flex: 1;
}

.DislikedCats {
  background-color: #f2dadf;
}

.LikedCats {
  background-color: #eaffce;
}

.CenterContainer {
  flex: 2
}

.NextUpCats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
